---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
  <h1 class="text-3xl text-blue-500 mb-5">Welcome to My Astro Site</h1>
  <p>This is the homepage of my awesome Astro project!</p>
</MainLayout>
