---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
  <h1 class="text-3xl text-blue-500 mb-5">Protected Page</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus
    praesentium velit architecto eum fugiat ad, autem dicta, harum, ullam
    mollitia suscipit assumenda beatae? Eius reiciendis similique tenetur
    debitis quis a.
  </p>
</MainLayout>
